//----- 色設定 ここから -----

$theme_color: #2c5776;

$succeed_color: #00ca11;
$filed_color:   red;


//----- 色設定 ここまで -----



//----- フォント設定 ここから -----

$font_normal:          'Noto Sans JP', sans-serif;
$font_bootstrap_icons: 'bootstrap-icons';

$fw_normal: 300;
$fw_bold:   500;

$fs_1: 10px;
$fs_2: 12px;
$fs_3: 14px;
$fs_4: 16px;
$fs_5: 18px;
$fs_6: 20px;
$fs_7: 24px;

$fc_normal:   #303030;
$fc_inline:   #008cff;
$fc_disabled: #aaa

//----- フォント設定 ここまで -----