@use "../config" as *;



//認証ページ
#authentication_page{
    main{
        padding: 80px 0;
    }
}

//認証フォーム
#authentication_page .authentication_form{
    position: relative;
    width:    800px;
    margin:   0 auto;

    form{
        position:         relative;
        z-index:          1;
        padding:          54px 0 60px;
        background-color: white;
        border:           1px solid #eee;
        border-radius:    6px;

        h1{
            width:          600px;
            margin:         0 auto 50px;
            text-align:     center;
            line-height:    calc(1em + 12px);
            font-size:      $fs_5;
            letter-spacing: 3px;
            text-indent:    3px;
            color:          $theme_color;
        }

        .form_filed_msg{
            display:          flex;
            justify-content:  center;
            padding:          16px 20px;
            margin-bottom:    56px;
            background-color: rgba($filed_color, 0.1);
            line-height:      calc(1em + 8px);
            font-weight:      $fw_bold;
            letter-spacing:   1px;
            text-indent:      1px;
            color:            $filed_color;
        }

        .input_field{
            display: flex;
            width:   600px;
            margin:  0 auto;

            &:nth-of-type(n+2){
                margin-top: 40px;
            }

            dt{
                width:          160px;
                padding-right:  24px;
                line-height:    40px;
                font-weight:    $fw_bold;
                letter-spacing: 1px;
            }

            dd{
                width: calc(100% - 160px);
            }
        }

        .submut_wrapper{
            display:         flex;
            justify-content: center;
            width:           600px;
            margin:          56px auto 0;
        }
    }

    .back_btn{
        position: absolute;
        z-index:  2;
        top:      0;
        left:     0;
        height:   100%;

        a{
            cursor:     pointer;
            position:   sticky;
            width:      48px;
            height:     48px;
            text-align: center;
            color:      $theme_color;

            svg{
                width:  20px;
                height: 100%;
            }
        }
    }
}

//認証成功メッセージ
#authentication_page .succeed_authentication_msg{
    position: relative;
    width:    800px;
    margin:   0 auto;

    .msg_content{
        position:         relative;
        z-index:          1;
        padding:          60px 0;
        background-color: white;
        border:           1px solid #eee;
        border-radius:    6px;

        h1{
            width:          600px;
            margin:         0 auto;
            text-align:     center;
            line-height:    calc(1em + 12px);
            font-size:      $fs_5;
            letter-spacing: 3px;
            text-indent:    3px;
            color:          $succeed_color;

            &::before{
                content:       "\F270";
                display:       block;
                margin-bottom: 10px;
                line-height:   1;
                font-family:   $font_bootstrap_icons;
                font-size:     48px;
            }
        }

        p{
            display:         flex;
            justify-content: center;
            width:           600px;
            margin:          28px auto 0;
            text-align:      justify;
            text-align-last: left;
            line-height:     calc(1em + 12px);
            word-wrap:       break-word;
            word-break:      break-all;
            font-weight:     $fw_bold;
            letter-spacing:  1px;
            text-indent:     1px;
        }

        form{
            display:         flex;
            justify-content: center;
            width:           600px;
            margin:          50px auto 0;
        }
    }

    .back_btn{
        position: absolute;
        z-index:  2;
        top:      0;
        left:     0;
        height:   100%;

        a{
            cursor:     pointer;
            position:   sticky;
            width:      48px;
            height:     48px;
            text-align: center;
            color:      $theme_color;

            svg{
                width:  20px;
                height: 100%;
            }
        }
    }
}