@use "../config" as *;



//ヘッダー
header{
    padding-top: 40px;
}

//画面上部固定バー
header .fixed_window_top_bar{
    display:          flex;
    position:         fixed;
    z-index:          100;
    top:              0;
    left:             0;
    width:            100%;
    background-color: $theme_color;

    h1{
        a{
            padding:        0 10px;
            line-height:    40px;
            font-weight:    $fw_normal;
            letter-spacing: 2px;
            text-indent:    2px;
            color:          white;

            &:hover{
                background-color: rgba(white, 0.1);
            }
        }
    }
}