extends ./layouts/_layout.pug



block options 

    - var title   = 'ログインページ';
    - var page_id = 'login_page';



block content

    //***** ログインフォーム ここから *****

    //- ログインフォーム
    .login_form
        form( action="", method="post" ) 
            h1 ログインフォーム

            p.form_filed_msg メールアドレスまたはパスワードが違います。

            //- ユーザーID
            dl.input_field.user_id_field
                dt ユーザーID
                dd: .text_field
                    input( type="text", name="user_id" )
                    p.error_msg 不正な値が入力されています。

            //- パスワード
            dl.input_field.user_id_field
                dt パスワード
                dd: .password_field
                    input( type="password", name="password" )
                    button( type="button" )
                    p.error_msg 不正な値が入力されています。

            //- 送信ボタン
            .submut_wrapper: button( type="submit", name="submit_btn", value="login" ) ログインする
        
        p.reset_password_link: a( href="./authentication.html" ) パスワードをお忘れですか？

    //***** ログインフォーム ここまで *****