extends ./layouts/_layout.pug



block options 

    - var title   = 'パスワードの変更';
    - var page_id = 'reset_password_page';



block content

    //***** リセットパスワードフォーム ここから *****

    //- リセットパスワードフォーム
    .reset_password_form
        form( action="./succeed-reset-password.html", method="post" ) 
            h1 パスワードの変更

            p.form_filed_msg パスワードの変更に失敗しました。

            //- 新しいパスワード
            dl.input_field.new_password_field.required
                dt 新しいパスワード
                dd: .password_field
                    input( type="password", name="new_password" )
                    button( type="button" )
                    p.error_msg 不正な値が入力されています。

            //- パスワードの確認
            dl.input_field.password_confirm_field.required
                dt パスワードの確認
                dd: .password_field
                    input( type="password", name="password_confirm" )
                    button( type="button" )
                    p.error_msg 不正な値が入力されています。

            //- 送信ボタン
            .submut_wrapper: button( type="submit", name="submit_btn", value="reset_password" ) 変更する

        .back_btn: a( href="./login.html" ): include ../icons/_arrow-left.pug

    //***** リセットパスワードフォーム ここまで *****