extends ./layouts/_layout.pug



block options 

    - var title   = 'パスワードの変更';
    - var page_id = 'reset_password_page';



block content

    //***** リセットパスワード成功メッセージ ここから *****

    //- リセットパスワード成功メッセージ
    .succeed_reset_password_msg
        .msg_content
            h1 パスワードを変更しました
            p パスワードを変更しました。ログインページからログインしてください。

            .btn_wrapper: a( href="./login.html" ) ログインに戻る

        .back_btn: a( href="./login.html" ): include ../icons/_arrow-left.pug

    //***** リセットパスワード成功メッセージ ここまで *****