block options 

    - var title   = '';
    - var page_id = '';



doctype html

html( lang="jp" )

    head

        meta( charset="UTF-8" )
        meta( http-equiv="X-UA-Compatible", content="IE=edge" )
        meta( name="viewport", content="width=device-width, initial-scale=1.0" )

        title Studio Rental Manager | #{title}

        //- Google Fonts
        link( rel="preconnect", href="https://fonts.googleapis.com" )
        link( rel="preconnect", href="https://fonts.gstatic.com", crossorigin )
        link( rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap" )

        //- Bootstrap Icons
        link( rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" )

        //- CSS
        link( rel="stylesheet", href="../../css/common/reset.css" )
        link( rel="stylesheet", href="../../css/common/layout.css" )
        link( rel="stylesheet", href="../../css/unlogin/layout.css" )

    body( id=page_id, class="unlogin_page" )

        header 

            //****** 画面上部固定バー ここから ******

            //- 画面上部固定バー
            .fixed_window_top_bar
                h1: a( href="./login.html" ) Rental Manager

            //****** 画面上部固定バー ここまで ******

        main

            block content